/* Fonts at: https://www.google.com/fonts */
$primary-font-name: "Roboto";
$primary-font-sizes: "300";
$secondary-font-name: "Lato";
$secondary-font-sizes: "300";

@import url("https://fonts.googleapis.com/css?family=#{$primary-font-name}:#{$primary-font-sizes}|#{$secondary-font-name}:#{$secondary-font-sizes}");

/* Reset CSS */
* {
  outline: none;

  &, &:before, &:after {
    box-sizing: border-box;
  }

  &:focus {
    outline: 0;
    box-shadow: none;
  }
}

html, body {
  font-family: Arial, sans-serif;
  font-smoothing: antialiased;
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  text-stroke: 1px transparent;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100%;
}

.design-by { 
  color: #3A2012; 
  display: block; 
  font-family: Arial, sans-serif;
  font-size: 1.4rem; 
  font-weight: bold; 
  letter-spacing: 0.2rem; 
  line-height: 2.8rem; 
  max-width: 100%; 
  text-align: left; 
  text-transform: uppercase; 
  bottom: 2rem; 
  left: 3rem; 
  position: absolute; 
  z-index: 999; 
  
  a { 
    color: #D67B32; 
    text-decoration: none; 
    cursor: pointer; 
  }
}
